<div class="centraliza-container">
  <h1>Login</h1>
  <label for="nomeFuncionario" class="form-label">Nome do Funcionario</label>
  <input
    type="text"
    class="form-control"
    id="nomeFuncionario"
    placeholder="Digite Aqui"
  />
  <label for="senhaFuncionario" class="form-label">Senha do Funcionário</label>
  <input
    type="text"
    class="form-control"
    id="precoProduto"
    placeholder="Digite Aqui"
  />

  <button  class="btn btn-primary">Entrar</button>
  <button class="btn btn-primary">Esqueci minha senha</button>
</div>
