<div class="container-pai">
  <div class="container-filho">
    <form class="form">
      <p class="form-title">Login</p>
       <div class="input-container">
         <input type="text" placeholder="Usuário">
         <span>
         </span>
     </div>
     <div class="input-container">
         <input type="password" placeholder="Senha">
       </div>
        <button type="submit" class="submit">
       Entrar
     </button>

     <p class="signup-link">
       Não tem cadastro?
       <a href="">Cadastre-se</a>
     </p>
  </form>
  </div>
</div>
