<div class="colunas">
  <div class="cadastro">
    <h3>Registro de Produtos</h3>
    <label for="codigoProduto" class="form-label">Código do produto</label>
    <input
      type="text"
      class="form-control"
      id="codigoProduto"
      placeholder="Digite Aqui"
    />
    <label for="nomeProduto" class="form-label">Nome do Produto</label>
    <input
      type="text"
      class="form-control"
      id="nomeProduto"
      placeholder="Digite Aqui"
    />
    <label for="precoProduto" class="form-label">Preço do Produto</label>
    <input
      type="text"
      class="form-control"
      id="precoProduto"
      placeholder="Digite Aqui"
    />
    <label for="validadeProduto" class="form-label">Validade do Produto</label>
    <input
      type="date"
      class="form-control"
      id="validadeProduto"
      placeholder="Digite Aqui"
    />
    <label for="unidadeMedida" class="form-label">Unidade de Medida</label>
    <input
      type="text"
      class="form-control"
      id="unidadeMedida"
      placeholder="Digite Aqui"
    />
    <label for="descontoProduto" class="form-label">Desconto do Produto</label>
    <input
      type="number"
      class="form-control"
      id="descontoProduto"
      placeholder="Digite Aqui"
    />
    <label for="quantidadeProduto" class="form-label"
      >Quantidade do Produto</label
    >
    <input
      type="number"
      class="form-control"
      id="quantidadeProduto"
      placeholder="Digite Aqui"
    />
    <button class="btn btn-primary">Cadastrar</button>
  </div>
</div>
