<div class="colunas">
  <div class="cadastro">
    <h3>Registro de Funcionários</h3>
    <label for="cpfFuncionario" class="form-label">CPF do Funcionario</label>
    <input
      type="text"
      class="form-control"
      id="cpfFuncionario"
      placeholder="Digite Aqui"
    />
    <label for="nomeFuncionario" class="form-label">Nome do Funcionario</label>
    <input
      type="text"
      class="form-control"
      id="nomeFuncionario"
      placeholder="Digite Aqui"
    />
    <label for="senhaFuncionario" class="form-label"
      >Senha do Funcionário</label
    >
    <input
      type="text"
      class="form-control"
      id="precoProduto"
      placeholder="Digite Aqui"
    />
    <label for="permissaoFuncionario" class="form-label"
      >Permissão do Funcionário</label
    >
    <input
      type="text"
      class="form-control"
      id="permissaoFuncionario"
      placeholder="Digite Aqui"
    />
    <label for="salarioFuncionario" class="form-label"
      >Salário do Funcionário</label
    >
    <input
      type="number"
      class="form-control"
      id="salarioFuncionario"
      placeholder="Digite Aqui"
    />
    <label for="descontoProduto" class="form-label">Horas Trabalhadas</label>
    <input
      type="number"
      class="form-control"
      id="descontoProduto"
      placeholder="Digite Aqui"
    />
    <button class="btn btn-primary">Cadastrar</button>
  </div>
</div>
